.card{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 6px 6px 10px #d3d3d3;
}

.img{
    width: 100%;
    background-color: black;
    border-radius: 20px 20px 0px 0px;
}

.info{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.name{
    font-weight: bold;
}
.email-container{
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}